USE [master]
GO
/****** Object:  Database [UnemploymentAnalyticsDB1]    Script Date: 2/22/2026 9:12:35 PM ******/
CREATE DATABASE [UnemploymentAnalyticsDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UnemploymentAnalyticsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UnemploymentAnalyticsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UnemploymentAnalyticsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\UnemploymentAnalyticsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UnemploymentAnalyticsDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UnemploymentAnalyticsDB1]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 2/22/2026 9:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[date_id] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[year] [int] NOT NULL,
	[year_name] [varchar](10) NOT NULL,
	[quarter_of_year] [int] NOT NULL,
	[quarter_name] [varchar](10) NOT NULL,
	[month_of_year] [int] NOT NULL,
	[month_name] [varchar](20) NOT NULL,
	[month_abbr] [varchar](3) NOT NULL,
	[week_of_year] [int] NOT NULL,
	[week_of_month] [int] NOT NULL,
	[day_of_month] [int] NOT NULL,
	[day_of_week] [int] NOT NULL,
	[day_name] [varchar](20) NOT NULL,
	[is_weekday] [bit] NOT NULL,
	[is_holiday] [bit] NOT NULL,
	[holiday_name] [varchar](100) NULL,
	[economic_period] [varchar](50) NULL,
	[fiscal_year] [int] NULL,
	[fiscal_quarter] [varchar](10) NULL,
	[year_sort] [int] NOT NULL,
	[quarter_sort] [int] NOT NULL,
	[month_sort] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_demographics]    Script Date: 2/22/2026 9:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_demographics](
	[demographic_id] [varchar](10) NOT NULL,
	[age_group] [varchar](20) NOT NULL,
	[gender] [varchar](20) NOT NULL,
	[race_ethnicity] [varchar](50) NOT NULL,
	[education_level] [varchar](50) NOT NULL,
	[marital_status] [varchar](20) NULL,
	[veteran_status] [varchar](20) NOT NULL,
	[disability_status] [varchar](20) NOT NULL,
	[itizenship_status] [varchar](30) NULL,
	[english_proficiency] [varchar](20) NULL,
	[created_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[demographic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_geography]    Script Date: 2/22/2026 9:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_geography](
	[geography_id] [varchar](10) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[state_code] [varchar](2) NOT NULL,
	[state_name] [varchar](50) NOT NULL,
	[county_fips] [varchar](5) NULL,
	[county_name] [varchar](100) NULL,
	[metro_area] [varchar](200) NULL,
	[region] [varchar](20) NOT NULL,
	[division] [varchar](30) NOT NULL,
	[latitude] [decimal](10, 8) NULL,
	[longitude] [decimal](11, 8) NULL,
	[population] [bigint] NULL,
	[area_sq_miles] [decimal](10, 2) NULL,
	[effective_date] [date] NOT NULL,
	[expiration_date] [date] NULL,
	[is_current] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[geography_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_industry]    Script Date: 2/22/2026 9:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_industry](
	[industry_id] [varchar](10) NOT NULL,
	[naics_code] [varchar](6) NOT NULL,
	[industry_name] [varchar](200) NOT NULL,
	[industry_sector] [varchar](100) NOT NULL,
	[industry_group] [varchar](100) NOT NULL,
	[seasonal_factor] [varchar](20) NULL,
	[automation_risk] [varchar](20) NULL,
	[avg_wage_level] [varchar](20) NULL,
	[sector_code] [varchar](2) NULL,
	[supersector_code] [varchar](3) NULL,
	[is_active] [bit] NOT NULL,
	[created_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[industry_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unemployment_statistics]    Script Date: 2/22/2026 9:12:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unemployment_statistics](
	[statistic_id] [int] IDENTITY(1,1) NOT NULL,
	[date_id] [int] NOT NULL,
	[geography_id] [varchar](10) NOT NULL,
	[demographic_id] [varchar](10) NOT NULL,
	[industry_id] [varchar](10) NOT NULL,
	[labor_force] [bigint] NOT NULL,
	[employed] [bigint] NOT NULL,
	[unemployed] [bigint] NOT NULL,
	[unemployment_rate] [decimal](5, 2) NOT NULL,
	[participation_rate] [decimal](5, 2) NOT NULL,
	[employment_population_ratio] [decimal](5, 2) NULL,
	[created_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[statistic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Geography_Hierarchy]    Script Date: 2/22/2026 9:12:35 PM ******/
CREATE NONCLUSTERED INDEX [IX_Geography_Hierarchy] ON [dbo].[dim_geography]
(
	[country] ASC,
	[region] ASC,
	[state_code] ASC,
	[county_fips] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Industry_Hierarchy]    Script Date: 2/22/2026 9:12:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Industry_Hierarchy] ON [dbo].[dim_industry]
(
	[industry_sector] ASC,
	[industry_group] ASC,
	[industry_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnemploymentStats_Date]    Script Date: 2/22/2026 9:12:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnemploymentStats_Date] ON [dbo].[unemployment_statistics]
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UnemploymentStats_Demographics]    Script Date: 2/22/2026 9:12:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnemploymentStats_Demographics] ON [dbo].[unemployment_statistics]
(
	[demographic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UnemploymentStats_Geography]    Script Date: 2/22/2026 9:12:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_UnemploymentStats_Geography] ON [dbo].[unemployment_statistics]
(
	[geography_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dim_date] ADD  DEFAULT ((0)) FOR [is_holiday]
GO
ALTER TABLE [dbo].[dim_demographics] ADD  DEFAULT ('Non-Veteran') FOR [veteran_status]
GO
ALTER TABLE [dbo].[dim_demographics] ADD  DEFAULT ('No Disability') FOR [disability_status]
GO
ALTER TABLE [dbo].[dim_demographics] ADD  DEFAULT ('US Citizen') FOR [itizenship_status]
GO
ALTER TABLE [dbo].[dim_demographics] ADD  DEFAULT ('Native Speaker') FOR [english_proficiency]
GO
ALTER TABLE [dbo].[dim_demographics] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[dim_geography] ADD  DEFAULT ('USA') FOR [country]
GO
ALTER TABLE [dbo].[dim_geography] ADD  DEFAULT (getdate()) FOR [effective_date]
GO
ALTER TABLE [dbo].[dim_geography] ADD  DEFAULT ((1)) FOR [is_current]
GO
ALTER TABLE [dbo].[dim_industry] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[dim_industry] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[unemployment_statistics] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[unemployment_statistics]  WITH NOCHECK ADD  CONSTRAINT [FK_UnemploymentStats_Date] FOREIGN KEY([date_id])
REFERENCES [dbo].[dim_date] ([date_id])
GO
ALTER TABLE [dbo].[unemployment_statistics] CHECK CONSTRAINT [FK_UnemploymentStats_Date]
GO
ALTER TABLE [dbo].[unemployment_statistics]  WITH NOCHECK ADD  CONSTRAINT [FK_UnemploymentStats_Demographics] FOREIGN KEY([demographic_id])
REFERENCES [dbo].[dim_demographics] ([demographic_id])
GO
ALTER TABLE [dbo].[unemployment_statistics] CHECK CONSTRAINT [FK_UnemploymentStats_Demographics]
GO
ALTER TABLE [dbo].[unemployment_statistics]  WITH NOCHECK ADD  CONSTRAINT [FK_UnemploymentStats_Geography] FOREIGN KEY([geography_id])
REFERENCES [dbo].[dim_geography] ([geography_id])
GO
ALTER TABLE [dbo].[unemployment_statistics] CHECK CONSTRAINT [FK_UnemploymentStats_Geography]
GO
ALTER TABLE [dbo].[unemployment_statistics]  WITH NOCHECK ADD  CONSTRAINT [FK_UnemploymentStats_Industry] FOREIGN KEY([industry_id])
REFERENCES [dbo].[dim_industry] ([industry_id])
GO
ALTER TABLE [dbo].[unemployment_statistics] CHECK CONSTRAINT [FK_UnemploymentStats_Industry]
GO
ALTER TABLE [dbo].[dim_date]  WITH NOCHECK ADD  CONSTRAINT [CHK_DayOfWeek] CHECK  (([day_of_week]>=(1) AND [day_of_week]<=(7)))
GO
ALTER TABLE [dbo].[dim_date] CHECK CONSTRAINT [CHK_DayOfWeek]
GO
ALTER TABLE [dbo].[dim_date]  WITH NOCHECK ADD  CONSTRAINT [CHK_Month] CHECK  (([month_of_year]>=(1) AND [month_of_year]<=(12)))
GO
ALTER TABLE [dbo].[dim_date] CHECK CONSTRAINT [CHK_Month]
GO
ALTER TABLE [dbo].[dim_date]  WITH NOCHECK ADD  CONSTRAINT [CHK_Quarter] CHECK  (([quarter_of_year]>=(1) AND [quarter_of_year]<=(4)))
GO
ALTER TABLE [dbo].[dim_date] CHECK CONSTRAINT [CHK_Quarter]
GO
ALTER TABLE [dbo].[dim_demographics]  WITH NOCHECK ADD  CONSTRAINT [CHK_AgeGroup] CHECK  (([age_group]='65+' OR [age_group]='55-64' OR [age_group]='45-54' OR [age_group]='35-44' OR [age_group]='25-34' OR [age_group]='20-24' OR [age_group]='16-19'))
GO
ALTER TABLE [dbo].[dim_demographics] CHECK CONSTRAINT [CHK_AgeGroup]
GO
ALTER TABLE [dbo].[dim_demographics]  WITH NOCHECK ADD  CONSTRAINT [CHK_Gender] CHECK  (([gender]='Non-Binary' OR [gender]='Female' OR [gender]='Male'))
GO
ALTER TABLE [dbo].[dim_demographics] CHECK CONSTRAINT [CHK_Gender]
GO
ALTER TABLE [dbo].[dim_demographics]  WITH NOCHECK ADD  CONSTRAINT [CHK_VeteranStatus] CHECK  (([veteran_status]='Non-Veteran' OR [veteran_status]='Veteran'))
GO
ALTER TABLE [dbo].[dim_demographics] CHECK CONSTRAINT [CHK_VeteranStatus]
GO
ALTER TABLE [dbo].[dim_industry]  WITH NOCHECK ADD CHECK  (([automation_risk]='High' OR [automation_risk]='Medium' OR [automation_risk]='Low'))
GO
ALTER TABLE [dbo].[dim_industry]  WITH NOCHECK ADD CHECK  (([avg_wage_level]='High' OR [avg_wage_level]='Medium' OR [avg_wage_level]='Low'))
GO
ALTER TABLE [dbo].[dim_industry]  WITH NOCHECK ADD CHECK  (([seasonal_factor]='High' OR [seasonal_factor]='Medium' OR [seasonal_factor]='Low'))
GO
USE [master]
GO
